<div class="mycontainer">
  <div class="date">
    <p class="day latoBlack">{{ today |  date: 'dd'}}</p>
    <p class="month ">{{ today |  date: 'MM,yyyy' | uppercase}}</p>
  </div>
  <div class="slider">
    <div  class="swiper-container" [swiper]="config" >
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let slide of slides">
          <div class="sliderHeader mrg-btm-30">
            <span>News</span><span class="bgColor">{{slide.type}}</span>
          </div>
          <div class="slideContent">
            <p class="f-lg semiBold mrg-btm-20">{{slide.title}}</p>
            <p class="thinItalic">{{slide.description}}</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
