<header>
  <div class="mycontainer">
    <a routerLink="/home" role="button" routerLinkActive="active"><img src="assets/images/logo.png" alt="" class="logo"></a>
    <ul>
      <li class="tapName"><a routerLink="/home" role="button" routerLinkActive="active">Home</a></li>
      <li class="tapName"><a routerLink="/style" role="button" routerLinkActive="active">Style</a></li>
      <li class="tapName"><a routerLink="/women" role="button" routerLinkActive="active">Women</a></li>
      <li class="tapName"><a routerLink="/culture" role="button" routerLinkActive="active">Culture</a></li>
      <li class="tapName"><a routerLink="/grooming" role="button" routerLinkActive="active">Grooming</a></li>
      <li class="tapName"><a routerLink="/entertainment" role="button" routerLinkActive="active">Entertainment</a></li>
      <li class="tapName"><a routerLink="/videos" role="button" routerLinkActive="active">Videos</a></li>
      <form action="" class="float-right searchForm" [hidden]="hidden">
        <input type="text">
        <button type="submit"><i class="fas fa-search"></i></button>
      </form>
      <li class="tapName headerSearch hideSearch" [hidden]="!hidden"><a href="#" (focus)="hideUnhide()"><i class="fas fa-search"></i>Search</a></li>
      <li class="tapName hideSearch" [hidden]="!hidden">
        <a href="#" class="red">Subscribe Now</a>
        <p class="thinItalic">Get the magazine</p>
      </li>
    </ul>
    <div class="float-right mynav">
      <i class="fas fa-bars white"></i>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
<div class="internalFooter">
  <div class="mycontainer">
    <div class="row">
      <div class="col-6 col-md-4 col-lg-1">
        <p class="listHeader">NEWS</p>
        <ul>
          <li>NATION</li>
          <li>WORLD</li>
          <li>EGYPT</li>
          <li>HEALTH</li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-1">
        <p class="listHeader">NEWS</p>
        <ul>
          <li>NATION</li>
          <li>WORLD</li>
          <li>EGYPT</li>
          <li>HEALTH</li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-1">
        <p class="listHeader">NEWS</p>
        <ul>
          <li>NATION</li>
          <li>WORLD</li>
          <li>EGYPT</li>
          <li>HEALTH</li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-1">
        <p class="listHeader">NEWS</p>
        <ul>
          <li>NATION</li>
          <li>WORLD</li>
          <li>EGYPT</li>
          <li>HEALTH</li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-1">
        <p class="listHeader">NEWS</p>
        <ul>
          <li>NATION</li>
          <li>WORLD</li>
          <li>EGYPT</li>
          <li>HEALTH</li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-1">
        <p class="listHeader">NEWS</p>
        <ul>
          <li>NATION</li>
          <li>WORLD</li>
          <li>EGYPT</li>
          <li>HEALTH</li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-1">
        <p class="listHeader">NEWS</p>
        <ul>
          <li>NATION</li>
          <li>WORLD</li>
          <li>EGYPT</li>
          <li>HEALTH</li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-1">
        <p class="listHeader">NEWS</p>
        <ul>
          <li>NATION</li>
          <li>WORLD</li>
          <li>EGYPT</li>
          <li>HEALTH</li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-1">
        <p class="listHeader">NEWS</p>
        <ul>
          <li>NATION</li>
          <li>WORLD</li>
          <li>EGYPT</li>
          <li>HEALTH</li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-1">
        <p class="listHeader">NEWS</p>
        <ul>
          <li>NATION</li>
          <li>WORLD</li>
          <li>EGYPT</li>
          <li>HEALTH</li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-1">
        <p class="listHeader">NEWS</p>
        <ul>
          <li>NATION</li>
          <li>WORLD</li>
          <li>EGYPT</li>
          <li>HEALTH</li>
        </ul>
      </div>
      <div class="col-6 col-md-4 col-lg-1">
        <p class="listHeader">NEWS</p>
        <ul>
          <li>NATION</li>
          <li>WORLD</li>
          <li>EGYPT</li>
          <li>HEALTH</li>
        </ul>
      </div>

    </div>
    <div class="contact">
      <div class="pl-0">
        <img src="assets/images/logo.png" alt="" class="logo">
      </div>
      <div class="region">
        <div class="title mrg-btm-30">
          <p><span class="medium">FIND </span><span class="bold">NEWS EXTRA</span><span class="semiBold">AROUND THE WORLD</span>
          </p>
          <span class="subtitle d-block light">Select country from the list</span>
        </div>
        <select name="" id="">
          <option value="Egypt"><span class="mrg-right-20">Region:</span><span class="light">Egypt</span>
          </option>
          <option value="Egypt"><span class="mrg-right-20">Region:</span><span class="light">Egypt</span>
          </option>
          <option value="Egypt"><span class="mrg-right-20">Region:</span><span class="light">Egypt</span>
          </option>
          <option value="Egypt"><span class="mrg-right-20">Region:</span><span class="light">Egypt</span>
          </option>
        </select>
      </div>
      <div class="follow">
        <div class="title mrg-btm-30">
          <p><span class="medium">FOLLOW US ON</span></p>
          <span class="subtitle d-block light">SOCIAL MEDIA CHANNELS</span>
        </div>
        <div class="socialIcons d-inline-block">
          <a href="#" class="white"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="white"><i class="fab fa-twitter"></i></a>
          <a href="#" class="white"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      <div class="signUp">
        <div class="title mrg-btm-30">
          <p><span class="medium">GET </span><span class="bold">THE BEST OF </span><span class="semiBold">NEWSEXTRA</span>
          </p>
          <span class="subtitle d-block light">SIGN UP FOR OUR NEWSLETTER</span>
        </div>
        <form action="" class="position-relative d-table">
          <input type="text" placeholder="EMAIL ADDRESS">
          <button><i class="fas fa-play"></i></button>
        </form>
      </div>
    </div>
  </div>
</div>
