<div class="mycontainer">
  <div class="date">
    <p class="day black">{{todayPost.day}}</p>
    <p class="month">{{todayPost.month}}, {{todayPost.year}}</p>
  </div>
  <div class="slider">
    <div class="sliderHeader mrg-btm-30">
      <span>News</span><span class="bgColor">Style</span>
    </div>
    <div class="swiper-container swiper-slider-1" [swiper]="config" >
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let slide of todayPost.slides">
          <div class="slideContent">
            <p class="f-lg semiBold mrg-btm-20">{{slide.title}}</p>
            <p class="thin">{{slide.description}}</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</div>
