<div class="mycontainer clearfix">
  <div class="mainVideo float-left text-center position-relative">
    <app-video-post [post]='trendingVideo' [trending]="true"></app-video-post>
  </div>
  <div class="colVideo float-left">
    <div class="subVideo text-center position-relative" *ngFor="let video of videos">
      <a [href]="video.link">
        <img [src]="video.photo" alt="" class="centerImg">
        <div class="subOverlay clearfix">
          <div class="play float-left position-absolute ">
            <i class="fas fa-play"></i>
            <span>{{video.duration | minuteSeconds}}</span>
          </div>
          <div class="videoContent position-absolute ">
            <p class="light white text-left">{{video.title}} </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
