<div class="mycontainer">
  <div class="notFound d-flex align-content-center justify-content-center flex-wrap">
    <img src="assets/images/500.png" alt="" class="align-self-center">
    <p class="bold ops text-center">Oops!</p>
    <p class="medium align-self-start text-center text">Sorry for your inconvenience.</p>
    <p class="medium align-self-start text-center text"> There is temporary error at system please try again
      later.</p>
    <button class="bold text-center white align-self-start">GO BACK</button>
  </div>
</div>
