<section class="home internal">
  <app-first-internal-part [type]="type" [typeNumber]="typeNumber"></app-first-internal-part>
</section>
<section class="topNews">
  <app-second-internal-part [type]="type" [typeNumber]="typeNumber"></app-second-internal-part>
</section>
<div class="mycontainer clearfix">
  <div class="belowNews float-left">
    <ul>
      <li>
        <a href="#">
          <span class="heavy">More News on </span><span class="bold">#EGYPT #SISI</span>
        </a>
      </li>
      <li>
        <a href="#" class="bold"><i class="fas fa-star"></i>FOLLOWING</a>
      </li>
      <li>
        <a href="#" class="bold"><i class="far fa-envelope"></i> GET EMAIL UPDATES</a>
      </li>
    </ul>
  </div>
</div>
<section class="events">
  <app-third-internal-part [type]="type" [typeNumber]="typeNumber"></app-third-internal-part>
</section>
<section class="eventsPhotos">
  <app-fourth-internal-part [type]="type" [typeNumber]="typeNumber"></app-fourth-internal-part>
</section>
<section class="feature">
  <app-fifth-internal-part [type]="type" [typeNumber]="typeNumber"></app-fifth-internal-part>
</section>
<section class="events">
  <app-third-internal-part [type]="type" [typeNumber]="typeNumber"></app-third-internal-part>
</section>
<section class=adContentSec>
  <app-sixth-internal-part [type]="type" [typeNumber]="typeNumber"></app-sixth-internal-part>
</section>
<div class="mycontainer">
  <app-seventh-internal-part [type]="type" [typeNumber]="typeNumber"></app-seventh-internal-part>
</div>
