<div class="mycontainer clearfix">
  <p class="sectionTitle">
    Top News
  </p>
  <hr class="belowSectionTitle">
  <div class="singleCol float-left">
    <div class="mainNews">
      <div class="img text-center">
        <img [src]="chosenPost.photo" alt="" class="centerImg">
      </div>
      <div class="content ">
        <p class="semiBold mrg-top-20 f-lg position-relative">
          <a [href]="chosenPost.link" class="black">{{chosenPost.title}}</a></p>
        <div class="clearfix">
          <a [href]="chosenPost.link" class="readMore mrg-top-20 light">Read more</a>
        </div>
      </div>
    </div>
  </div>
  <app-posts (valueChange)='displayMain($event)' [posts]='posts'></app-posts>

</div>
