<div class="mycontainer">
  <p class="sectionTitle">
    EVENTS
  </p>
  <hr class="belowSectionTitle">

  <div class="eventBg d-flex align-items-center flex-wrap">
    <div class="up align-self-end">
      <div class="bottomContent">
        <p class="float-left first">WE ARE </p>
        <hr class="firstHr">
        <p class="float-right second">CONNECTED</p>
        <hr class="secondHr">
        <p class="all">#DIESELREBOOT</p>
      </div>
    </div>
    <div class="down align-self-start text-center">
      <p class="mrg-btm-10 latoBlack mrg-btm-10">WILL START IN APRIL</p>
      <button class="moreBtn f-18 medium">READ MORE</button>
    </div>
  </div>
</div>
