<div class="mycontainer">
  <p class="sectionTitle">FEATURED NEWS</p>
  <hr class="belowSectionTitle">
  <div class="allFeatures clearfix">
    <div class="singleFeature " *ngFor="let post of featured">
      <div class="featureImg text-center position-relative">
        <img [src]="post.album.photos[0].photo" alt="" class="centerImg">
        <div class="bottomContent position-absolute">
          <p class="float-left first">WE ARE </p>
          <hr class="firstHr">
          <p class="float-right second">CONNECTED</p>
          <hr class="secondHr">
          <p class="all">#DIESELREBOOT</p>
        </div>
      </div>
      <div class="featureContent">
        <p class="semiBold f-lg">
          <a [href]="API+post.id" class="black">
            {{post.title}}
          </a>
        </p>
        <span class="light d-inline-block limit black position-relative">{{post.description}}</span>
        <div class="featureFooter clearfix">
          <div class="float-left">
            <span class="light  mrg-right-20"><i class="fas fa-user clock"></i>{{post.user.name}}</span>
            <span class="light"><i class="far fa-clock clock"></i> {{post.created_at}} ago</span>
          </div>
          <div class="float-right">
            <a [href]="API+post.id" class="black bold">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <button class="semiBold f-18 white" (click)="loadmore()">SEE MORE</button>
  </div>
</div>
