<div class="mycontainer">
  <p class="sectionTitle">
    PHOTOS
  </p>
  <hr class="belowSectionTitle">
  <div class="swiper-container differentArrows" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide" *ngFor="let slide of slides.photos" >
        <div class="myphoto text-center">
          <img [src]="slide.photo" alt="" class="centerImg">
        </div>
      </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
