<section class="home internal">
  <app-first-part></app-first-part>
</section>
<section class="topNews">
  <app-second-part></app-second-part>
</section>
<div class="mycontainer clearfix">
  <div class="belowNews float-left">
    <ul>
      <li>
        <a href="#">
          <span class="heavy">More News on </span><span class="bold">#EGYPT #SISI</span>
        </a>
      </li>
      <li>
        <a href="#" class="bold"><i class="fas fa-star"></i>FOLLOWING</a>
      </li>
      <li>
        <a href="#" class="bold"><i class="far fa-envelope"></i> GET EMAIL UPDATES</a>
      </li>
    </ul>
  </div>
</div>
<section class="events">
  <app-third-part></app-third-part>
</section>
<section class="eventsPhotos">
  <app-fourth-part></app-fourth-part>
</section>
<section class="feature">
  <app-fifth-part></app-fifth-part>
</section>
<section class="events">
  <app-third-part></app-third-part>
</section>
<section class=adContentSec>
  <app-sixth-part></app-sixth-part>
</section>
<div class="mycontainer">
  <app-seventh-part></app-seventh-part>
</div>
