<section class="home">
  <app-firstpart></app-firstpart>
</section>
<section class="topNews">
  <app-top-news></app-top-news>
</section>
<div class="mycontainer">
  <div class="belowNews float-left">
    <ul>
      <li>
        <a href="#">
          <span class="heavy">More News on </span><span class="bold">#EGYPT #SISI</span>
        </a>
      </li>
      <li>
        <a href="#" class="bold"><i class="fas fa-star"></i>FOLLOWING</a>
      </li>
      <li>
        <a href="#" class="bold"><i class="far fa-envelope"></i> GET EMAIL UPDATES</a>
      </li>
    </ul>
  </div>
</div>
<section class="videos">
  <app-home-videos></app-home-videos>
</section>
<app-different-news-part4></app-different-news-part4>
<section class="live">
  <app-live></app-live>
</section>
<section class="subscribe">
  <app-subscribe></app-subscribe>
</section>
<section class="gallery">
  <app-gallery></app-gallery>
</section>
<section class="ads">
  <app-addds></app-addds>
</section>

